/* Your custom CSS for the card (AboutCard.css) */

.about-card {
    max-width: 960px;
    margin: 10rem auto 0;
}

.about-title {
    font-size: 2rem;
    font-weight: bold;
    margin: 2rem 0;
}

.about-content {
    display: flex;
    font-size: 1.2rem;
    line-height: 1.5;
}

.about-text {
    flex: 1;
    padding: 1rem;
}

.about-image {
    flex: 1;
    text-align: center;
    padding: 1rem;
}

.about-profile {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 1rem;
}
